@tailwind base;
@tailwind components;
@tailwind utilities;

.soloCard{
    &:hover{
        box-shadow: 5px 10px 20px 5px rgba(184, 184, 184);
        scale: 1.015;
    }
}

.loginBg{
    background: url('https://4kwallpapers.com/images/wallpapers/big-sur-mountains-clouds-sunset-evening-macos-big-sur-stock-3840x2160-1498.jpg') no-repeat center center/cover;
}